@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
